flask
flask_wtf
pandas
requests
PyJWT
mysql-connector-python
flask_mail
Werkzeug==2.2.2
itsdangerous
secure-smtplib
bcrypt
pandas
stripe
PrettyTable
datetime
xmltodict
python_random_strings
openai
PyPDF2
docx2txt
flask_cors
flask_httpauth
python-dotenv
python-docx
PyMuPDF
